<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div th:fragment="lang(url)" class="lang-div">
        <div class="lang-def">
            <div class="lang-icon">       
                <img th:src="@{/img/svg/translate.svg}" alt="lang">
            </div>
            <div class="lang-text">
                <span th:text="#{lang.name}">English</span>            
                <img th:src="@{/img/svg/caret-down-fill.svg}" alt=">">
            </div>
        </div>
        <ul class="lang-drop">
            <li>
                <a th:href="@{/{lang}{url}(lang=en,url=${url})}" th:text="#{lang.english.native}" class="color-inherit"></a>
            </li>
            <li>
                <a th:href="@{/{lang}{url}(lang=ja,url=${url})}" th:text="#{lang.japanese.native}" class="color-inherit"></a>
            </li>
        </ul>
    </div>
</body>
</html>
