<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a
        th:fragment="move-link(move, lang)"
        th:text="${move.getInternatName().get(lang)}"
        th:href="@{/{lang}/move/{code}(lang=${lang}, code=${move.getMoveCode()})}">        
    </a>

    <div th:fragment="move-ul(moves, lang)">
        <ul>
            <li th:each="move : ${moves}">
                <a th:replace="~{fragments/move-fragments.html :: move-link(
                    move = ${move}, 
                    lang = ${lang})}">
                </a>
            </li>
        </ul>
    </div>

    <div th:fragment="move-table-basic(moves, isMoveLink, lang)" class="table-responsive">
        <div th:if="${moves.isEmpty()}" class="mb-3">
            <span th:text="#{general.nodata}"></span>
        </div>
        <table th:unless="${moves.isEmpty()}" class="table table-bordered table-sm" style="max-width: 600px;">
            <tr>
                <th 
                    class="bg-black w-25" 
                    th:text="#{move.title}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.type}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.category}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.power}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.accuracy}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.pp}">
                </th>
            </tr>
            <th:block th:each="move : ${moves}">
                <tr>
                    <th:block th:if="${isMoveLink}">
                        <td class="bg-light-subtle">
                            <a th:replace="~{fragments/move-fragments.html :: move-link(
                                move = ${move}, 
                                lang = ${lang})}">
                            </a>
                        </td>
                    </th:block>
                    <th:block th:unless="${isMoveLink}">
                        <td
                            class="bg-light-subtle"
                            th:text="${move.getInternatName().get(lang)}">
                        </td>
                    </th:block>
                    <td class="bg-light-subtle" style="text-align: center;">
                        <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                            type = ${move.getType()},
                            lang = ${lang})}">
                        </span>
                    </td>
                    <td class="bg-light-subtle" style="text-align: center;">
                        <span th:replace="~{fragments/icon-fragments.html :: icon-move-cat( 
                            moveCat = ${move.getMoveCat()},
                            lang = ${lang})}">
                        </span>
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${move.getMoveBp()}">
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${move.getMoveAc()}">
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${move.getMovePp()}">
                    </td>
                </tr>
                <tr th:unless="${move.getMoveCauseEffs().isEmpty()}">
                    <td colspan="6">
                        <span
                            th:text="${move.getEffectInline(lang)}">            
                        </span>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:fragment="move-table-advanced(move, auxItems,lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <!--
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{general.name}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{ability.effect.effective}">
                </th>
            </tr>
            -->
            <tr>
                <td 
                    th:text="#{move.hit}">
                </td>
                <td 
                    th:text="${move.getMoveTrgt().getInternatName.get(lang)}">
                </td>
            </tr>
            <tr th:unless="${move.getMthds().isEmpty()}">
                <td 
                    th:text="#{move.method}">
                </td>
                <td>
                    <span 
                        th:each="mthd : ${move.getMthds()}"
                        th:text="${mthd.getInternatName().get(lang) + ' '}">
                    </span>
                </td>
            </tr>
            <tr>
                <td 
                    th:text="#{move.tm}">
                </td>
                <td 
                    th:if="${move.getItems().isEmpty()}"
                    th:text="#{general.none}">
                </td>
                <td th:unless="${move.getItems().isEmpty()}">
                    <a th:replace="~{fragments/item-fragments.html :: item-link(
                        item = ${move.getItems().get(0)}, 
                        lang = ${lang})}">
                    </a>
                </td>
            </tr>
            <tr>
                <td 
                    th:text="#{move.priority}">
                </td>
                <td 
                    th:text="${move.getMovePrio()}">
                </td>
            </tr>

            <tr>
                <td th:text="#{move.contact}">
                </td>
                <td th:if="${move.getMoveIscontact()}" class="bg-success-subtle" style="text-align: center;">
                    <img alt="y" th:src="@{/img/svg/check.svg}">
                </td>
                <td th:unless="${move.getMoveIscontact()}" class="bg-danger-subtle" style="text-align: center;">
                    <img alt="n" th:src="@{/img/svg/x.svg}">
                </td>
            </tr>
            <tr>
                <td>
                    <a th:replace="~{fragments/item-fragments.html :: item-link(
                        item = ${auxItems.get(0)}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td th:if="${move.getMoveIsBright()}" class="bg-success-subtle" style="text-align: center;">
                    <img alt="y" th:src="@{/img/svg/check.svg}">
                </td>
                <td th:unless="${move.getMoveIsBright()}" class="bg-danger-subtle" style="text-align: center;">
                    <img alt="n" th:src="@{/img/svg/x.svg}">
                </td>
            </tr>
            <tr>
                <td>
                    <a th:replace="~{fragments/item-fragments.html :: item-link(
                        item = ${auxItems.get(1)}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td th:if="${move.getMoveIsking()}" class="bg-success-subtle" style="text-align: center;">
                    <img alt="y" th:src="@{/img/svg/check.svg}">
                </td>
                <td th:unless="${move.getMoveIsking()}" class="bg-danger-subtle" style="text-align: center;">
                    <img alt="n" th:src="@{/img/svg/x.svg}">
                </td>
            </tr>
        </table>
    </div>

    <div th:fragment="move-learn-lv(pdLrnMove, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{move.learn.lv.name}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.learn.lv.lv}">
                </th>
            </tr>
            <tr th:each="plm : ${pdLrnMove}">
                <td>
                    <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                        pd = ${plm.getPd()}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td th:text="${plm.getId().getLv()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="move-tutor-table(moveRememberedTuto, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{move.title}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.tutor.bp}">
                </th>
            </tr>
            <tr th:each="mrt : ${moveRememberedTuto}">
                <td>
                    <a th:replace="~{fragments/move-fragments.html :: move-link(
                        move = ${mrt.getMove()}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td th:text="${mrt.getBp()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="move-search-form(moveSearch, types, moveCats, lang)">    
        <form 
            class="row g-3 mb-3"
            style="max-width: 300px;"
            id="moveSearchForm" 
            name="moveSearchForm" 
            th:object="${moveSearch}"
            th:action="@{/{lang}/move#results(lang=${lang})}"
            method="post" 
            enctype="multipart/form-data">
            <!--moveName-->
            <div class="col-12">
                <label 
                    for="moveName" 
                    class="form-label"
                    th:text="#{general.name}">
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="moveName"
                    name="moveName"
                    th:field="*{moveName}"
                >
            </div>
            <!--type-->
            <div class="col-md-6">
                <label 
                    for="type" 
                    class="form-label"
                    th:text="#{move.type}">
                </label>
                <select 
                    class="form-select form-select" 
                    aria-label="Small select example"
                    id="type"
                    name="type"
                    th:field="*{type}"
                >
                    <option 
                        selected 
                        value="0"
                        th:text="#{move.list.default}">
                    </option>
                    <option 
                        th:each="type : ${types}"
                        th:value="${type.getTypeId()}"
                        th:text="${type.getInternatName().get(lang)}">
                    </option>
                </select>
            </div>
            <!--moveCat-->
            <div class="col-md-6">
                <label 
                    for="moveCat" 
                    class="form-label"
                    th:text="#{move.category}">
                </label>
                <select 
                    class="form-select form-select" 
                    aria-label="Small select example"
                    id="moveCat"
                    name="moveCat"
                    th:field="*{moveCat}"
                >
                    <option 
                        selected 
                        value="0"
                        th:text="#{move.list.default}">
                    </option>
                    <option 
                        th:each="moveCat : ${moveCats}"
                        th:value="${moveCat.getMoveCatId()}"
                        th:text="${moveCat.getInternatName().get(lang)}">
                    </option>
                </select>
            </div>
            <div class="col-12">
                <button 
                    type="submit" 
                    class="btn btn-primary"
                    th:text="#{move.list.search}">
                </button>
            </div>
        </form>
    </div>













    <div th:fragment="pd-learn-table(pdLrnMove, moveLrnCode, cSpan, lang)" class="table-responsive">
        <table class="table table-bordered table-sm pd-learn-table"
            th:classappend="${moveLrnCode}">
            <tr>
                <th 
                    class="bg-black" 
                    style="min-width: 130px;"
                    th:text="#{move.title}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.type}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.category}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.power}">
                </th>
                <th 
                    class="bg-black"
                    th:text="#{move.accuracy}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{move.pp}">
                </th>
                <th:block th:switch="${moveLrnCode}">
                    <th 
                        th:case="'lv'"
                        class="bg-black" 
                        th:text="#{move.learn.lv.lv}">
                    </th>
                    <th 
                        th:case="'tm'"
                        style="min-width: 110px;"
                        class="bg-black" 
                        th:text="#{move.learn.tm}">
                    </th>
                    <th 
                        th:case="'eg'"
                        class="bg-black" 
                        th:text="#{move.learn.eg}">
                    </th>
                </th:block>
            </tr>
            <th:block th:each="plm : ${pdLrnMove}">
                <tr>
                    <td class="bg-light-subtle">
                        <a th:replace="~{fragments/move-fragments.html :: move-link(
                            move = ${plm.getMove()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td class="bg-light-subtle" style="text-align: center;">
                        <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                            type = ${plm.getMove().getType()},
                            lang = ${lang})}">
                        </span>
                    </td>
                    <td class="bg-light-subtle" style="text-align: center;">
                        <span th:replace="~{fragments/icon-fragments.html :: icon-move-cat( 
                            moveCat = ${plm.getMove().getMoveCat()},
                            lang = ${lang})}">
                        </span>
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${plm.getMove().getMoveBp()}">
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${plm.getMove().getMoveAc()}">
                    </td>
                    <td
                        class="bg-light-subtle"
                        th:text="${plm.getMove().getMovePp()}">
                    </td>
                    <th:block th:switch="${moveLrnCode}">
                        <td 
                            th:case="'lv'"
                            class="bg-light-subtle"
                            th:text="${plm.getId().getLv()}">
                        </td>
                        <th:block th:case="'tm'">
                            <td th:if="${plm.getMove().getItems().isEmpty()}"
                                class="bg-light-subtle"
                                th:text="#{general.nodata}">
                            </td>
                            <td th:unless="${plm.getMove().getItems().isEmpty()}" class="bg-light-subtle">
                                <a th:replace="~{fragments/item-fragments.html :: item-link(
                                    item = ${plm.getMove().getItems().get(0)}, 
                                    lang = ${lang})}">
                                </a>
                            </td>
                        </th:block>
                        <th:block th:case="'eg'">
                            <td class="bg-light-subtle"
                                th:text="${'todo'}">
                            </td>
                        </th:block>
                    </th:block>
                </tr>
                <tr th:unless="${plm.getMove().getMoveCauseEffs().isEmpty()}">
                    <td th:colspan="${cSpan}">
                        <span
                            th:text="${plm.getMove().getEffectInline(lang)}">            
                        </span>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>














</body>
</html>
