<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a
        th:fragment="pd-link(pd, lang)"
        th:text="${pd.getInternatName().get(lang)}"
        th:href="@{/{lang}/zukan/{code}(lang=${lang}, code=${pd.getPdCode()})}">        
    </a>

    <div th:fragment="pd-ul(pds, lang)">
        <ul>
            <li th:each="pd : ${pds}">
                <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                    pd = ${pd}, 
                    lang = ${lang})}">
                </a>
            </li>
        </ul>
    </div>

    <div th:fragment="pd-container-lg(pds, lang)">
        <div th:if="${pds.isEmpty()}" class="mb-3">
            <span th:text="#{general.nodata}"></span>
        </div>
        <div th:unless="${pds.isEmpty()}" class="pd-container-lg mb-3">
            <div th:each="pd : ${pds}">
                <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                    pd = ${pd}, 
                    lang = ${lang})}">
                </a>
            </div>
        </div>
    </div>

    <div th:fragment="zukan-list-table(pds, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.no}">
                </th>
                <th 
                    class="bg-black" 
                    style="width: 130px;"
                    th:text="#{general.name}">
                </th>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.type}">
                </th>
            </tr>
            <tr th:each="pd : ${pds}">
                <td th:text="${pd.getPdIndexFormat()}"></td>
                <td>
                    <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                        pd = ${pd}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td 
                    th:colspan="${pd.getTypes().size() == 1 ? '2':''}"
                    th:each="type : ${pd.getTypes}">
                    <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                        type = ${type},
                        lang = ${lang})}">
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div th:fragment="zukan-detail-table(pd, auxStats, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    colspan="2"
                    style="text-align: center;"
                    class="bg-black" 
                    th:text="${pd.getInternatName().get(lang)}">
                </th>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.no}">
                </td>
                <td th:text="${pd.getPdIndexFormat()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.type}">
                </td>
                <td class="td-type">
                    <div>
                        <th:block th:each="type : ${pd.getTypes()}">
                            <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                                type = ${type},
                                lang = ${lang})}">
                            </span>
                        </th:block>
                    </div>
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.stats}">
                </th>
            </tr>
            <tr th:each="base : ${pd.getPdBaseArr()}">
                <td 
                    class="bg-light-subtle" 
                    th:text="${auxStats.get(baseStat.index).getInternatName().get(lang)}">
                </td>
                <td th:text="${base}"></td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.abilities}">
                </th>
            </tr>
            <tr th:each="abil : ${pd.getAbils()}">
                <td class="bg-light-subtle">
                    <a th:replace="~{fragments/ability-fragments.html :: ability-link(
                        abil = ${abil}, 
                        lang = ${lang})}">
                    </a>        
                </td>
                <td 
                    class="td-ability-effect" 
                    th:text="${abil.getEffectInline(abil.getAbilEffBattles(), lang)}">
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.gender}">
                </th>
            </tr>
            <tr th:each="pdg : ${pd.getPdDimoGndr()}">
                <td 
                    class="bg-light-subtle" 
                    th:text="${pdg.getGndr().getInternatName().get(lang)}">
                </td>
                <td th:text="${pdg.getRate()} + '%'"></td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.egg}">
                </th>
            </tr>
            <tr>
                <td 
                    class="bg-light-subtle" 
                    th:text="#{zukan.steps}">
                </td>
                <td 
                    th:if="${lang.equals('ja')}" 
                    th:text="${pd.getEggCyc().getEggCycVal() + '歩'}">
                </td>
                <td 
                    th:unless="${lang.equals('ja')}" 
                    th:text="${pd.getEggCyc().getEggCycVal()}">
                </td>
            </tr>
            <tr>
                <td 
                    class="bg-light-subtle" 
                    th:text="#{zukan.egggroup}">
                </td>
                <td class="td-egggroup">
                    <th:block th:each="eggGrp : ${pd.getEggGrps()}">
                        <a th:replace="~{fragments/egg-group-fragments.html :: egg-group-link(
                            eggGrp = ${eggGrp}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.other}">
                </th>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.yield}">
                </td>
                <td class="td-yield">
                    <th:block th:each="pys : ${pd.getPdYielStats()}">
                        <span th:text="${pys.getAmount() + ' ' + pys.getStat().getInternatName().get(lang)}"></span>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.cap}">
                </td>
                <td th:text="${pd.getPdCapRate()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.hap}">
                </td>
                <td th:text="${pd.getPdHap()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.exp}">
                </td>
                <td th:text="${pd.getPdExp()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.expgrp}">
                </td>
                <td th:text="${pd.getExpGrp().getExpGrpFinal()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="zukan-item-table(pdHoldItem, isItem, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{general.name}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.items.rate}">
                </th>
            </tr>
            <tr th:each="phi : ${pdHoldItem}">
                <td>
                    <th:block th:if="${isItem}">
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${phi.getPd()}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                    <th:block th:unless="${isItem}">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${phi.getItem()}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </td>
                <td th:text="${phi.getRate() + '%'}"></td>
            </tr>
        </table>
    </div>




    <div th:remove="tag" th:fragment="evo-cond-inline(evoCond, auxEvoItems, lang)">
        <th:block th:switch="${evoCond.getEvoCondCode()}">
            <th:block th:case="'st'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('thunderstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>



            <th:block th:case="*">
                <span th:text="${evoCond.getInternatDesc().get(lang)}"></span>
            </th:block>

<!--
sf	Fire Stone
sw	Water Stone
sl	Leaf Stone
ss	Sun Stone
sm	Moon Stone
sy	Shiny Stone
sd	Dusk Stone
wm	Dawn Stone on male
wf	Dawn Stone on female
-->

        </th:block>
    </div>





    <div th:fragment="evo-table(auxEvoPds, auxEvoItems, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.sta}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.end}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.cond}">
                </th>
            </tr>
            <th:block th:each="pd : ${auxEvoPds}">
                <tr th:each="pep : ${pd.getPdEvoPd()}">
                    <td>
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pep.getPdSta()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pep.getPdEnd()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                        <div th:replace="~{fragments/zukan-fragments.html :: evo-cond-inline(
                            evoCond = ${pep.getEvoCond()},
                            auxEvoItems = ${auxEvoItems}, 
                            lang = ${lang})}">
                        </div>  
                    </td>
                </tr>
            </th:block>
        </table>
    </div>
</body>
</html>
