<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <a
        th:fragment="pd-link(pd, lang)"
        th:text="${pd.getInternatName().get(lang)}"
        th:href="@{/{lang}/zukan/{code}(lang=${lang}, code=${pd.getPdCode()})}">        
    </a>

    <div th:fragment="pd-ul(pds, lang)">
        <ul>
            <li th:each="pd : ${pds}">
                <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                    pd = ${pd}, 
                    lang = ${lang})}">
                </a>
            </li>
        </ul>
    </div>

    <div th:fragment="pd-container-lg(pds, lang)">
        <div th:if="${pds.isEmpty()}" class="mb-3">
            <span th:text="#{general.nodata}"></span>
        </div>
        <div th:unless="${pds.isEmpty()}" class="pd-container-lg mb-3">
            <div th:each="pd : ${pds}">
                <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                    pd = ${pd}, 
                    lang = ${lang})}">
                </a>
            </div>
        </div>
    </div>

    <div th:fragment="zukan-list-table(pds, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.no}">
                </th>
                <th 
                    class="bg-black" 
                    style="width: 130px;"
                    th:text="#{general.name}">
                </th>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.type}">
                </th>
            </tr>
            <tr th:each="pd : ${pds}">
                <td th:text="${pd.getPdIndexFormat()}"></td>
                <td>
                    <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                        pd = ${pd}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td 
                    th:colspan="${pd.getTypes().size() == 1 ? '2':''}"
                    th:each="type : ${pd.getTypes}">
                    <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                        type = ${type},
                        lang = ${lang})}">
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <div th:fragment="zukan-detail-table(pd, auxStats, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    colspan="2"
                    style="text-align: center;"
                    class="bg-black" 
                    th:text="${pd.getInternatName().get(lang)}">
                </th>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.no}">
                </td>
                <td th:text="${pd.getPdIndexFormat()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.type}">
                </td>
                <td class="td-type">
                    <div>
                        <th:block th:each="type : ${pd.getTypes()}">
                            <span th:replace="~{fragments/icon-fragments.html :: icon-type( 
                                type = ${type},
                                lang = ${lang})}">
                            </span>
                        </th:block>
                    </div>
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.stats}">
                </th>
            </tr>
            <tr th:each="base : ${pd.getPdBaseArr()}">
                <td 
                    class="bg-light-subtle" 
                    th:text="${auxStats.get(baseStat.index).getInternatName().get(lang)}">
                </td>
                <td th:text="${base}"></td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.abilities}">
                </th>
            </tr>
            <tr th:each="abil : ${pd.getAbils()}">
                <td class="bg-light-subtle">
                    <a th:replace="~{fragments/ability-fragments.html :: ability-link(
                        abil = ${abil}, 
                        lang = ${lang})}">
                    </a>        
                </td>
                <td 
                    class="td-ability-effect" 
                    th:text="${abil.getEffectInline(abil.getAbilEffBattles(), lang)}">
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.gender}">
                </th>
            </tr>
            <tr th:each="pdg : ${pd.getPdDimoGndr()}">
                <td 
                    class="bg-light-subtle" 
                    th:text="${pdg.getGndr().getInternatName().get(lang)}">
                </td>
                <td th:text="${pdg.getRate()} + '%'"></td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.egg}">
                </th>
            </tr>
            <tr>
                <td 
                    class="bg-light-subtle" 
                    th:text="#{zukan.steps}">
                </td>
                <td 
                    th:if="${lang.equals('ja')}" 
                    th:text="${pd.getEggCyc().getEggCycVal() + '歩'}">
                </td>
                <td 
                    th:unless="${lang.equals('ja')}" 
                    th:text="${pd.getEggCyc().getEggCycVal()}">
                </td>
            </tr>
            <tr>
                <td 
                    class="bg-light-subtle" 
                    th:text="#{zukan.egggroup}">
                </td>
                <td class="td-egggroup">
                    <th:block th:each="eggGrp : ${pd.getEggGrps()}">
                        <a th:replace="~{fragments/egg-group-fragments.html :: egg-group-link(
                            eggGrp = ${eggGrp}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </td>
            </tr>
            <tr>
                <th 
                    colspan="2"
                    class="bg-black" 
                    th:text="#{zukan.other}">
                </th>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.yield}">
                </td>
                <td class="td-yield">
                    <th:block th:each="pys : ${pd.getPdYielStats()}">
                        <span th:text="${pys.getAmount() + ' ' + pys.getStat().getInternatName().get(lang)}"></span>
                    </th:block>
                </td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.cap}">
                </td>
                <td th:text="${pd.getPdCapRate()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.hap}">
                </td>
                <td th:text="${pd.getPdHap()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.exp}">
                </td>
                <td th:text="${pd.getPdExp()}"></td>
            </tr>
            <tr>
                <td
                    class="bg-light-subtle" 
                    th:text="#{zukan.expgrp}">
                </td>
                <td th:text="${pd.getExpGrp().getExpGrpFinal()}"></td>
            </tr>
        </table>
    </div>

    <div th:fragment="zukan-item-table(pdHoldItem, isItem, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{general.name}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.items.rate}">
                </th>
            </tr>
            <tr th:each="phi : ${pdHoldItem}">
                <td>
                    <th:block th:if="${isItem}">
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${phi.getPd()}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                    <th:block th:unless="${isItem}">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${phi.getItem()}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </td>
                <td th:text="${phi.getRate() + '%'}"></td>
            </tr>
        </table>
    </div>

    <div th:remove="tag" th:fragment="evo-cond-inline(evoCond, lv, auxEvoItems, lang)">
        <th:block th:switch="${evoCond.getEvoCondCode()}">
            <th:block th:case="'st'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('thunderstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sf'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('firestone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sw'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('waterstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sl'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('leafstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'ss'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('sunstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sm'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('moonstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sy'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('shinystone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'sd'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('duskstone')}, 
                    lang = ${lang})}">
                </a>
            </th:block>
            <th:block th:case="'wm'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('dawnstone')}, 
                    lang = ${lang})}">
                </a>
                <span th:text="#{zukan.evo.wm}"></span>
            </th:block>
            <th:block th:case="'wf'">
                <a th:replace="~{fragments/item-fragments.html :: item-link(
                    item = ${auxEvoItems.get('dawnstone')}, 
                    lang = ${lang})}">
                </a>
                <span th:text="#{zukan.evo.wf}"></span>
            </th:block>
            <th:block th:case="'tk'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('kingsrock')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('kingsrock')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tm'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('metalcoat')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('metalcoat')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tp'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('protector')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('protector')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'td'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('dragonscale')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('dragonscale')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'te'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('electirizer')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('electirizer')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tg'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('magmarizer')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('magmarizer')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tu'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('upgrade')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('upgrade')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'t2'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('dubiousdisc')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('dubiousdisc')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tc'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('reapercloth')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('reapercloth')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'tt'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('deepseatooth')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('deepseatooth')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'ts'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('deepseascale')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.tradewhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('deepseascale')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'io'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('ovalstone')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.daywhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.daywhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('ovalstone')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'if'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('razorfang')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.nightwhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.nightwhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('razorfang')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'ic'">
                <th:block th:switch="${lang}">
                    <th:block th:case="'ja'">
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('razorclaw')}, 
                            lang = ${lang})}">
                        </a>
                        <span th:text="#{zukan.evo.nightwhilehold}"></span>
                    </th:block>
                    <th:block th:case="*">
                        <span th:text="#{zukan.evo.nightwhilehold}"></span>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${auxEvoItems.get('razorclaw')}, 
                            lang = ${lang})}">
                        </a>
                    </th:block>
                </th:block>
            </th:block>
            <th:block th:case="'lv'">
                <span th:text="#{zukan.evo.lv}"></span>
                <span th:text="${lv}"></span>
            </th:block>
            <th:block th:case="*">
                <span th:text="${evoCond.getInternatDesc().get(lang)}"></span>
            </th:block>
        </th:block>
    </div>

    <div th:fragment="evo-table(auxEvoPds, auxEvoItems, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.sta}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.end}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.evo.cond}">
                </th>
            </tr>
            <th:block th:each="pd : ${auxEvoPds}">
                <tr th:each="pep : ${pd.getPdEvoPd()}">
                    <td>
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pep.getPdSta()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                        <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pep.getPdEnd()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                        <div th:replace="~{fragments/zukan-fragments.html :: evo-cond-inline(
                            evoCond = ${pep.getEvoCond()},
                            lv = ${pep.getLv()},
                            auxEvoItems = ${auxEvoItems}, 
                            lang = ${lang})}">
                        </div>  
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:fragment="incense-table(auxEvoPds, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.pare}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{zukan.baby}">
                </th>
                <th 
                    class="bg-black" 
                    th:text="#{item.title}">
                </th>
            </tr>
            <th:block th:each="pd : ${auxEvoPds}">
                <tr th:each="pbp : ${pd.getPdBabyPd()}">
                    <td>
                       <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pbp.getPdPare()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                       <a th:replace="~{fragments/zukan-fragments.html :: pd-link(
                            pd = ${pbp.getPdBaby()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                    <td>
                        <a th:replace="~{fragments/item-fragments.html :: item-link(
                            item = ${pbp.getItem()}, 
                            lang = ${lang})}">
                        </a>
                    </td>
                </tr>
            </th:block>
        </table>
    </div>

    <div th:fragment="pd-shop-table(shopExchPd, lang)" class="table-responsive">
        <table class="table table-bordered table-sm" style="width: fit-content;">
            <tr>
                <th 
                    class="bg-black" 
                    colspan="2"
                    th:text="#{general.name}">
                </th>
            </tr>
            <tr th:each="sep : ${shopExchPd}">
                <td>
                    <a th:replace="~{fragments/zone-fragments.html :: shop-link(
                        shop = ${sep.getShop()}, 
                        lang = ${lang})}">
                    </a>
                </td>
                <td th:text="${sep.getPrice() + ' ' + sep.getShop().getCurr().getInternatName().get(lang)}"></td>
            </tr>
        </table>
    </div>      
</body>
</html>
