/*style-root*/
:root {
    --silver-bg: #2f2f2f;
    --egg-bg: #fffdd0;

    --stat-hp: #0a2518;
    --stat-atk: #2b1717;
    --stat-def: #433a15;
    --stat-spatk: #0a1123;
    --stat-spdef: #103100;
    --stat-spe: #470d47;

    font-family: sans-serif;
}

.color-inherit {
    color: inherit;
    text-decoration: inherit;
}
/*style-header*/
header {
    background-color: var(--silver-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
}

header .header-logo, header .header-setting,
    header .header-logo img, header .header-setting img,
    header .header-logo span {
    display: block;
    box-sizing: border-box;
}

header .header-logo {
    width: 200px;
    display: flex;
    align-items: center;
}

header .header-logo img {
    width: 50px;
}

header .header-logo span {
    font-size: 26px;
    color: var(--egg-bg);;
    text-shadow: 0 0 6px black;
}

header .header-setting {
    width: 32px;
    height: 32px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-setting img {
    width: 16px;
    height: 16px;
}
/*style-footer*/
footer {
    background-color: var(--silver-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px 0px;
    margin-top: 1rem;
}

footer span {
    color: var(--egg-bg);;
    text-shadow: 0 0 6px black;
    display: block;
    box-sizing: border-box;
}
/*style-main*/
.container-main {
    margin-top: calc(34px + 1rem);
    clear: both;
    padding-left: 5%;
    padding-right: 5%;
}
/*style-lang*/
.lang-div {
    float: right;
    border-radius: var(--bs-border-radius);
    position: relative;
}

.lang-def {
    display: flex;
    border-radius: var(--bs-border-radius);
}

.lang-def .lang-icon {
    background-color: white;
    padding: 5px 8px;
    vertical-align: text-top;
    border-radius: var(--bs-border-radius);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.lang-def .lang-icon img {
    vertical-align: text-top;
}

.lang-def .lang-text {
    padding: 5px;
    background-color: black;
    border-bottom: 1px solid white;
}

.lang-drop { 
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-light-bg-subtle);
    position: absolute;
    width: 100%;
}

.lang-def:hover .lang-icon {
    /*border-radius: 0px;*/
}

.lang-div:hover .lang-drop {
    display: block;
}

.lang-drop li { 
    border-radius: var(--bs-border-radius);
}

.lang-drop li a { 
    padding: 5px;
    display: block;
}

.lang-drop li:hover { 
    background-color: #4b5157;
}
/*style-toc*/
.toc {
    border: 1px solid var(--bs-border-color);
    width: fit-content;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.toc ul {
    list-style: none;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.toc .toc-title {
    font-weight: bold;
    display: block;
    text-align: center;
    border-bottom: 1px solid var(--bs-border-color);
    padding: 2px;
    margin-bottom: 5px;
}

.toc .toc-list {
    padding-right: 32px;
}
/*style-nature*/
.stat-bg-hp {
    background-color: var(--stat-hp) !important;
}
.stat-bg-atk {
    background-color: var(--stat-atk) !important;
}
.stat-bg-def {
    background-color: var(--stat-def) !important;
}
.stat-bg-spatk {
    background-color: var(--stat-spatk) !important;
}
.stat-bg-spdef {
    background-color: var(--stat-spdef) !important;
}
.stat-bg-spe {
    background-color: var(--stat-spe) !important;
}





/*style-zukan*/
.pd-container-lg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.pd-container-lg div {
    border: 1px solid var(--bs-border-color);
    min-width: 100px;
    box-sizing: border-box;
}

.pd-container-lg div a {
    display: block;
    padding: 5px;
}
