/*style-root*/
:root {
    --silver-bg: #7a7e85;
    --egg-bg: #fffdd0;

    font-family: sans-serif;
}

.color-inherit {
    color: inherit;
    text-decoration: inherit;
}
/*style-header*/
header {
    background-color: var(--silver-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 12px;
}

header .header-logo, header .header-setting,
    header .header-logo img, header .header-setting img,
    header .header-logo spawn {
    display: block;
    box-sizing: border-box;
}

header .header-logo {
    width: 200px;
    display: flex;
    align-items: center;
}

header .header-logo img {
    width: 50px;
}

header .header-logo spawn {
    font-size: 26px;
    color: var(--egg-bg);;
    text-shadow: 0 0 6px black;
}

header .header-setting {
    width: 32px;
    height: 32px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .header-setting img {
    width: 16px;
    height: 16px;
}
/*style-footer*/
footer {
    background-color: var(--silver-bg);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6px 0px;
    margin-top: 1rem;
}

footer spawn {
    color: var(--egg-bg);;
    text-shadow: 0 0 6px black;
    display: block;
    box-sizing: border-box;
}
/*style-main*/
.container-main {
    margin-top: calc(34px + 1rem);
    clear: both;
    padding-left: 5%;
    padding-right: 5%;
}
/*style-lang*/
.lang-div {
    float: right;
    border-radius: var(--bs-border-radius);
    position: relative;
}

.lang-def {
    display: flex;
    border-radius: var(--bs-border-radius);
}

.lang-def .lang-icon {
    background-color: white;
    padding: 5px 8px;
    vertical-align: text-top;
    border-radius: var(--bs-border-radius);
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.lang-def .lang-icon img {
    vertical-align: text-top;
}

.lang-def .lang-text {
    padding: 5px;
    background-color: black;
}

.lang-drop { 
    display: none;
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: var(--bs-border-radius);
    background-color: var(--bs-light-bg-subtle);
    position: absolute;
    width: 100%;
}

.lang-def:hover .lang-icon {
    /*border-radius: 0px;*/
}

.lang-div:hover .lang-drop {
    display: block;
}

.lang-drop li { 
    padding: 5px;
    border-radius: var(--bs-border-radius);
}

.lang-drop li a { 
    display: block;
}

.lang-drop li:hover { 
    background-color: #4b5157;
}
