<!DOCTYPE html>
<html th:lang="#{lang.code}" data-bs-theme="dark">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="keywords" th:content="#{index.keywords}">
	    <meta name="description" th:content="#{index.description}">
	    <meta name="author" th:content="#{general.author}">
        <title th:text="#{index.title}"></title>

        <link 
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" 
            rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" 
            crossorigin="anonymous">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <header th:replace="~{fragments/header-fragments.html :: header(lang = ${lang})}"></header>

        <div th:replace="~{fragments/lang-fragments.html :: lang-div(url = ${url})}"></div>

        <div class="container-main" style="margin-bottom: 300px;">
            <div class="wrapper-main">
                <div>
                    <h1 th:text="#{index.home}"></h1>
                    <section>
                        <h2 id="database" th:text="#{index.database}"></h2>
                        <div class="index-container">
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('zukan')})}">
                                <img th:src="@{/img/svg/zukan.svg}" th:alt="#{zukan.list.title}">
                                <span th:text="#{zukan.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('ability')})}">
                                <img th:src="@{/img/svg/ability.svg}" th:alt="#{ability.list.title}">
                                <span th:text="#{ability.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('egggroup')})}">
                                <img th:src="@{/img/svg/egggroup.svg}" th:alt="#{egggroup.list.title}">
                                <span th:text="#{egggroup.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('nature')})}">
                                <img th:src="@{/img/svg/nature.svg}" th:alt="#{nature.title}">
                                <span th:text="#{nature.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('move')})}">
                                <img th:src="@{/img/svg/move.svg}" th:alt="#{move.list.title}">
                                <span th:text="#{move.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('tutor')})}">
                                <img th:src="@{/img/svg/tutor.svg}" th:alt="#{move.tutor.title}">
                                <span th:text="#{move.tutor.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('item')})}">
                                <img th:src="@{/img/svg/item.svg}" th:alt="#{item.list.title}">
                                <span th:text="#{item.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('zone')})}">
                                <img th:src="@{/img/svg/zone.svg}" th:alt="#{zone.list.title}">
                                <span th:text="#{zone.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('gear')})}">
                                <img th:src="@{/img/svg/gear.svg}" th:alt="#{gear.list.title}">
                                <span th:text="#{gear.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('walker')})}">
                                <img th:src="@{/img/svg/walker.svg}" th:alt="#{walker.list.title}">
                                <span th:text="#{walker.list.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('judge')})}">
                                <img th:src="@{/img/svg/judge.svg}" th:alt="#{judge.title}">
                                <span th:text="#{judge.title}"></span>
                            </a>
                            <a th:href="@{/{lang}/{url}(lang=${lang}, url=${urlMap.get('source')})}">
                                <img th:src="@{/img/svg/source.svg}" th:alt="#{source.title}">
                                <span th:text="#{source.title}"></span>
                            </a>
                        </div>
                    </section>
                </div>
            </div>
        </div>

        <footer th:replace="~{fragments/footer-fragments.html :: footer(lang = ${lang})}"></footer>
    </body>
</html>
